.contact-container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contact-inputs {
    background-color: aliceblue;
}

.names {
    display: flex;
    justify-content: flex-start;

}

.first {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.last {
    margin-left: 40px;
    display: flex;
    flex-direction: column;
    margin-left: 100px;
    width: 400px;
}

.email-div {
    display: grid;
    margin-top: 20px;
}

.inputs {
    height: 30px;
    border-radius: 5px;
}

.message-div {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.message-area {
    height: 50px;
    border-radius: 5px;
}

.check-div {
    display: flex;
    margin-top: 20px;
}

.btn {
    margin-top: 20px;
}